// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap
$primary: #6f42c1;
$primaryDark: #5c2f83;
$disabled: #766286;

@font-face {
    font-family: Poppins;
    src: url(/fonts/PoppinsMedium.otf);
}
