@import 'variables';
@import 'components';
@import 'bootstrap/scss/bootstrap';
@import 'bengkel_ads.scss';
@import 'waves';

html * {
    font-family: Poppins,
    'Courier New',
    Courier,
    monospace;
}

$spacer: 1rem;
$spacers: (0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

.main-input {
    font-weight: 700 !important;
    font-size: 14px;
    outline: none !important;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(231, 230, 230);

    ::placeholder {
        font-weight: 500;
        font-style: italic;
        font-size: 1em;
        color: mintcream;
        background: thistle;
        padding: 5px;
    }
}

.rounded-full {
    border-radius: 25px !important;
}

.inline-icon {
    display: flex;
    align-items: center;

    * {
        margin-right: 2px;
    }
}

.mt-25 {
    margin-top: ($spacer * 15) !important;

    @media (max-width: 765px) {
        margin-top: ($spacer * 2.5) !important;
    }
}

.rotate-180 {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.gradient-primary {
    background-image: linear-gradient(to bottom, rgba(174, 133, 173, 0), rgb(227, 213, 236));
}


.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 900 !important;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: $primary;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: $primaryDark;
        color: rgb(255, 255, 255);
    }

    &:disabled {
        background-color: $disabled;
    }
}

.w-md-100 {
    @media (max-width: 769px) {
        width: 100% !important;
    }
}


.section-overlay {
    position: relative;

    .overlay-loading {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        background-image: linear-gradient(to right, rgba(195, 178, 208, 0.288), rgb(239, 230, 245));
    }
}

.md {
    width: 50px !important;
    height: 50px !important;
    border: 10px dotted $primaryDark;
    --#{$prefix}spinner-animation-speed: 1.30s;
}

.img-big {
    width: 75% !important;
    margin: 5% 0 !important;

    @media only screen and (max-width: 769px) {
        width: 100% !important;
        margin: auto !important;
    }
}

.text-info {
    font-size: 10px;
    font-weight: 500;
}

.text-sm{
    font-size: 0.875rem !important;
}
