/*
---------------------------------------------
welcome
---------------------------------------------
*/
.welcome-area {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(86, 76, 69, 0.8) 100%), url('/img/banner/ads/banner_ads_sengkaling_md.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

nav {
    .logo {
        width: 50px;
        height: 50px;
    }
}

.main {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
}

.foto {
    width: 100%;
    height: 230px;
}

.banner {
    width: 100%;
    height: 500px;

    @media (max-width: 765px) {
        width: 100%;
        height: auto;
    }
}

.section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}

.section.colored {
    background: #f2f2fe;
}

#contact-us {
    padding: 160px 0px;
}

#contact-us h5 {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    line-height: 26px;
}

.contact-text {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.contact-text p {
    margin-bottom: 28px;
}

.contact-form input,
.contact-form textarea {
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
}

#input-no-ponsel {
    padding: 160px 0px;
}

#input-no-ponsel h5 {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    line-height: 26px;
}


.center-heading {
    text-align: center;

    .section-title {
        font-weight: 500;
        font-size: 28px;
        color: #1e1e1e;
        letter-spacing: 1.75px;
        line-height: 38px;
    }
}

.h-title {
    font-weight: 800;
    font-family: Poppins;
    font-size: 17px;
    color: #1e1e1e;
}

.h-subtitle{
    font-weight: 500;
    font-family: Poppins;
    font-size: 14px;
    color: #1e1e1e;
}

.banner {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.banner a{
    text-decoration: underline !important;
}

.loading {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    background-color: rgb(173, 122, 173);
}


@media only screen and (min-width: 320px) {

    .banner .claim {
        position: absolute;
        bottom: 2%;
        right: 0;
        padding: 3% 2%;
        font-size: 0.8rem;
        width: 35%;
        height: 10%;
    }

    .banner .address {
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 10.5%;
        left: 21%;
        font-size: 0.65rem;
        width: 40%;
        height: auto;
    }

    .banner .ponsel {
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 5.3%;
        left: 21%;
        font-size: 0.65rem;
        width: auto;
        height: auto;
    }
}

@media only screen and (min-width : 810px) {
    .banner .address {
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 9%;
        left: 16%;
        font-size: 0.65rem;
        width: 20%;
        height: auto;
    }

    .banner .ponsel {
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 3%;
        left: 16%;
        font-size: 0.65rem;
        width: auto;
        height: auto;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) or (min-width: 1281px) {
    .banner {
        position: relative;
    }

    .banner .claim {
        position: absolute;
        bottom: 2%;
        right: 0;
        padding: 3% 2%;
        font-size: 0.8rem;
        width: 35%;
        height: 10%;
    }

    .banner .address {
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 8%;
        left: 16%;
        font-size: 1.5rem;
        width: 30%;
        height: auto;
    }

    .banner .ponsel {
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 2.5%;
        left: 16%;
        font-size: 1.5rem;
        width: auto;
        height: auto;
    }
}
